@model List<Event_Management.Models.Participant>
@{
    ViewData["Title"] = "Participant List";
}

<h1>Participant</h1>

<p>
    <a asp-action="Create">Create New Participant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Eposta</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.E_posta</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.P_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.P_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.P_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>